<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387018494377-3upopd8sr0tdgu66fsbsannuj1khss1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387018494377-3upopd8sr0tdgu66fsbsannuj1khss1k</string>
	<key>API_KEY</key>
	<string>AIzaSyDkIlydwvF4anjQ5vLO-121eavTKkeA9oY</string>
	<key>GCM_SENDER_ID</key>
	<string>387018494377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vaporcrash.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-595cb</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-595cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387018494377:ios:a7aac9784aab45cb16f4b8</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-595cb.firebaseio.com</string>
</dict>
</plist>